*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Aquí empieza el diseño de la página principal */
body{
    background-image: url(/src/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header{
    width: 100%;
    height: 70px;
    background-color: rgb(52, 192, 162);
    /* justify-content:space-evenly; */
}

div.logo{
    display:inline-flex;
    line-height: 70px;
    /* border: 1px solid white; */
    /* margin: 10px auto; */
    justify-content: center;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    
}
div.logo img{
    width: 50px;
    height: 50px;
    margin: auto 5px;
}
div.nav{
    /* border: 1px solid white; */
    text-decoration: none;
    display: inline-flex;
    /* float: right; */
    line-height: 70px;
    justify-content:end;
    /* margin: auto 30px; */
    
}
div.nav ul li{
    list-style: none;
    display: inline-block;
    /* float: right; */
}

div.nav ul li a{
    /* display: inline-block; */
    list-style: none;
    /* float: left; */
    /* line-height: 40px; */
    padding: 10px 20px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 20px;
    color: rgb(95, 28, 158);
    cursor: pointer;
    border-radius: 8px;
}

div.nav ul li a:hover{
    background-color: rgb(98, 242, 21);
    color: aliceblue;
}

section.about{
    border: 1px solid white;
    /* width: 60%; */
    height: auto;
    margin: 15px auto;
    padding: 15px 10px;
    background-color: rgba(181, 183, 183, 0.8);
    border-radius: 15px;
    
}

section.about h2{
    text-align: center;
    margin: 10px 0;
    color: rgb(110, 3, 24);
}
section.about h3{
    text-align: center;
    margin: 5px 0;
    color: rgb(12, 3, 110);
}
section.about p{
    text-align: justify;
    margin: 20px 20px;
    color: rgb(12, 3, 110);
    line-height: 20px;
}

section.products{
    /* border: 1px solid white; */
    /* width: 60%; */
    height: auto;
    margin: 15px auto;
    padding: 15px 10px;
    background-color: rgba(181, 183, 183, 0.8);
    border-radius: 15px;
}
section.products h2{
    text-align: center;
    margin: 15px 0;
    color: rgb(110, 3, 24);
}
.catalogo{
    display:inline-flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
section div div.card{
    width: 40%;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(129, 251, 251, 0.8);
    border-radius: 10px;
    box-shadow: 2px 5px 8px;
    text-align: center;
    line-height: 18px;
}
section div div.card h3{
    margin: 5px 0px;
}
section div div.card img{
    width: 100px;
}
section div div.card p{
    margin: 5px 0px;
    font-size: 13px;
}
section div div.card h3 strong{
    color: crimson;
}
section div div.card h3 a{
    background-color: rgb(5, 251, 5);
    color: blue;
    margin: 5px 8px;
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 15px;
}
section div div.card h3 a:hover{
    background-color: rgb(5, 189, 251);
    color: orangered;
    padding: 5px 8px;
    border-radius: 8px;
}
footer{
    width: 100%;
    height: 70px;
    background-color: rgb(52, 192, 162);
    text-align: center;
}
footer span.copyright{
    color: #fff;
    font-size: 90%;
    line-height: 30px;
    
}

/* Aqui empieza el diseño para la página de registro */

div.container-register{
    width: 40%;
    height: auto;
    background-color: rgba(181, 183, 183, 0.8);
    border-radius: 15px;
    margin: 30px auto;
    padding: 15px;
    box-shadow: 5px 5px 15px;
}

div div.title-register{
    text-align: center;
    margin: 10px;
}

div div.title-register h2,p{
    margin: 10px 0px;
}

div div form label:not([for="term-conditions"],[for="political"]){
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

div div form label[for="term-conditions"],[for="political"]{
    font-size: 15px;
    display: inline-flex;
}

div div form input:not([type="checkbox"]){
    display: block;
    width: 96%;
}

div div form input:not([type="submit"]){
    background-color: white;
	padding: 5px;
	/* padding-top: 0px; */
	border: 1px solid #495e8d;
    border-radius: 3px;
	margin-bottom: 10px;
	color: black;
	font-size: 15px;
}

div div form div.check-term, div.check-political{
    display:inline-flex;
    /* border: 1px solid white; */
    justify-content: start;
}

div div form input[type="submit"]{
    background-color: crimson;
    color: white;
    font-weight: bold;
    margin: 10px auto;
    /* margin-top: 10px; */
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    width: 50%;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
}

div div form input[type="submit"]:hover{
    background-color: rgb(5, 189, 251);
    color: crimson;
    
}

div div.return{
    width: 50%;
    margin: 10px auto;
    text-align: center;
    font-size: 15px;
}

/* Creacion de la pagina de Gestion de Perfil */

div.container-setting{
    width: 60%;
    height: auto;
    background-color: rgba(181, 183, 183, 0.8);
    border-radius: 15px;
    margin: 30px auto;
    padding: 15px;
    box-shadow: 5px 5px 15px;
    justify-content: center;
}

div.container-setting h2{
    margin-bottom: 10px;
    text-align: center;
    color: rgb(110, 3, 24);
}

div.container-setting table{
    background-color: rgb(218, 216, 216);
    font-size: 15px;
    width: 95%;
    margin: 15px auto;
    border-color: rgb(82, 82, 82);
    border-collapse: collapse;
    text-align: center;
}
div.container-setting tr th{
    text-transform: uppercase;
}
div.container-setting table tr th,td{
    padding: 10px 0px;
    /* margin: 0px 10px; */
}
div.container-setting table tr td a{
    padding: 4px;
    /* margin: 4px; */
    border-radius: 3px;
}
div.container-setting table tr td a.update{
    color: white;
    margin: auto 5px;
    background-color: rgb(255, 132, 1);
}
div.container-setting table tr td a.delete{
    color: white;
    margin: auto 5px;
    background-color: red;
}

/* Aquí se agrega los media query para ajustar objetos segun el tamaño de pantalla */
@media (min-width:992px) and (max-width: 1199px) {
    section div div.card{
        width: 45%;
        height: 220px;
        margin: 5px;
        padding: 10px;
        background-color: rgba(129, 251, 251, 0.8);
        border-radius: 10px;
        box-shadow: 2px 5px 8px;
        text-align: center;
        line-height: 18px;
    }

}
@media (min-width:768px) and (max-width: 991px) {
    section div div.card{
        width: 45%;
        height: 220px;
        margin: 5px;
        padding: 8px;
        background-color: rgba(129, 251, 251, 0.8);
        border-radius: 10px;
        box-shadow: 2px 5px 8px;
        text-align: center;
        line-height: 18px;
    }
    div.container-register{
        width: 50%;
        height: auto;
        background-color: rgba(181, 183, 183, 0.8);
        border-radius: 15px;
        margin: 30px auto;
        padding: 15px;
        box-shadow: 5px 5px 15px;
    }
}

@media (min-width:576px) and (max-width: 767px) {
    div.logo h2{
        font-size: 20px;
    }
    div.logo img{
        width: 40px;
        height: 40px;
        margin: auto 10px;
    }
    div.nav{
        /* border: 1px solid white; */
        text-decoration: none;
        display: inline-flex;
        line-height: 22.5px;
        justify-content: center;
        text-align: center;
        
    }
    div.nav ul li{
        list-style: none;
        display: block;
    }
    
    div.nav ul li a{
        list-style: none;
        padding: 1px 10px;
        font-size: 18px;
        color: rgb(95, 28, 158);
        cursor: pointer;
        border-radius: 8px;
    }
    section div div.card{
        width: 60%;
        height: 220px;
        margin: 5px;
        padding: 8px;
        background-color: rgba(129, 251, 251, 0.8);
        border-radius: 10px;
        box-shadow: 2px 5px 8px;
        text-align: center;
        line-height: 18px;
    }
    div.container-register{
        width: 60%;
        height: auto;
        background-color: rgba(181, 183, 183, 0.8);
        border-radius: 15px;
        margin: 30px auto;
        padding: 15px;
        box-shadow: 5px 5px 15px;
    }
}

@media (max-width: 575px) {
    div.logo h2{
        font-size: 18px;
    }
    div.logo img{
        width: 40px;
        height: 40px;
        margin: auto 5px;
    }
    div.nav{
        /* border: 1px solid white; */
        text-decoration: none;
        display: inline-flex;
        line-height: 22.5px;
        justify-content:center;
        text-align: center;
        
    }
    div.nav ul li{
        list-style: none;
        display: block;
    }
    
    div.nav ul li a{
        list-style: none;
        padding: 1px 10px;
        font-size: 18px;
        color: rgb(95, 28, 158);
        cursor: pointer;
        border-radius: 8px;
    }
    section div div.card{
        width: 75%;
        height: 220px;
        margin: 5px;
        padding: 8px;
        background-color: rgba(129, 251, 251, 0.8);
        border-radius: 10px;
        box-shadow: 2px 5px 8px;
        text-align: center;
        line-height: 18px;
    }
    div.container-register{
        width: 80%;
        height: auto;
        background-color: rgba(181, 183, 183, 0.8);
        border-radius: 15px;
        margin: 30px auto;
        padding: 15px;
        box-shadow: 5px 5px 15px;
    }
}
