*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Aquí empieza el diseño de la página principal */
body{
    background-image: url(/src/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header{
    width: 100%;
    height: 70px;
    background-color: rgb(52, 192, 162);
    position: fixed;
    /* justify-content:space-evenly; */
    z-index: 3;
}

div.logo{
    display:inline-flex;
    line-height: 70px;
    /* border: 1px solid white; */
    /* margin: 10px auto; */
    justify-content: center;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    
}
div.logo img{
    width: 50px;
    height: 50px;
    margin: auto 5px;
}
div.nav{
    /* border: 1px solid white; */
    text-decoration: none;
    display: inline-flex;
    /* float: right; */
    line-height: 70px;
    justify-content:end;
    /* margin: auto 30px; */
    
}
div.nav ul li{
    list-style: none;
    display: inline-block;
    /* float: right; */
}

div.nav ul li a{
    /* display: inline-block; */
    list-style: none;
    /* float: left; */
    /* line-height: 40px; */
    padding: 10px 20px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 20px;
    color: rgb(95, 28, 158);
    cursor: pointer;
    border-radius: 8px;
}

div.nav ul li a:hover{
    background-color: rgb(98, 242, 21);
    color: aliceblue;
}

main{
    /* top: 80px; */
    padding-top: 80px;
}

section.about{
    border: 1px solid white;
    /* width: 60%; */
    height: auto;
    margin: 15px auto;
    padding: 15px 10px;
    background-color: rgba(181, 183, 183, 0.8);
    border-radius: 15px;
    
}

section.about h2{
    text-align: center;
    margin: 10px 0;
    color: rgb(110, 3, 24);
}
section.about h3{
    text-align: center;
    margin: 5px 0;
    color: rgb(12, 3, 110);
}
section.about p{
    text-align: justify;
    margin: 20px 20px;
    color: rgb(12, 3, 110);
    line-height: 20px;
}

section.products{
    /* border: 1px solid white; */
    /* width: 60%; */
    height: auto;
    margin: 15px auto;
    padding: 15px 10px;
    background-color: rgba(181, 183, 183, 0.8);
    border-radius: 15px;
}
section.products h2{
    text-align: center;
    margin: 15px 0;
    color: rgb(110, 3, 24);
}
.catalogo{
    display:inline-flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
section div div.card{
    width: 45%;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: rgba(129, 251, 251, 0.8);
    border-radius: 10px;
    box-shadow: 2px 5px 8px;
    text-align: center;
    line-height: 18px;
    transition: .3s;
}
section div div.card:hover{
    scale: 1.05;
    z-index: 0;
}
section div div.card h3{
    margin: 10px 0px;
}
section div div.card img{
    width: 100px;
}
section div div.card p{
    margin: 5px 0px;
    font-size: 13px;
}
section div div.card h3 strong{
    color: blue;
}
section div div.card button{
    background-color:red;
    color: white;
    margin: 5px 8px;
    padding: 5px 30px;
    border-radius: 8px;
    font-size: 15px;
}
section div div.card button:hover{
    background-color: rgb(128, 2, 2);
    color: white

}
footer{
    width: 100%;
    height: 70px;
    background-color: rgb(52, 192, 162);
    text-align: center;
}
footer span.copyright{
    color: #fff;
    font-size: 90%;
    line-height: 30px;
    
}

/* Aqui empieza el diseño para la página de registro */

div.container-register{
    width: 40%;
    height: auto;
    background-color: rgba(181, 183, 183, 0.8);
    border-radius: 15px;
    margin: 30px auto;
    padding: 15px;
    box-shadow: 5px 5px 15px;
}

div div.title-register{
    text-align: center;
    margin: 10px;
}

div div.title-register h2,p{
    margin: 10px 0px;
}

div div form label:not([for="term-conditions"],[for="political"]){
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

div div form label[for="term-conditions"],[for="political"]{
    font-size: 15px;
    display: inline-flex;
}

div div form input:not([type="checkbox"]){
    display: block;
    width: 96%;
}

div div form input:not([type="submit"]){
    background-color: white;
	padding: 5px;
	/* padding-top: 0px; */
	border: 1px solid #495e8d;
    border-radius: 3px;
	margin-bottom: 5px;
	color: black;
	font-size: 15px;
}
span.mensaje_error{
    color: rgb(168, 2, 2);
    font-weight: bold;
    font-size: 12px;
}

div div form div.check-term, div.check-political{
    display:inline-flex;
    /* border: 1px solid white; */
    justify-content: start;
}

div div form input[type="submit"]{
    background-color: crimson;
    color: white;
    font-weight: bold;
    margin: 10px auto;
    /* margin-top: 10px; */
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    width: 50%;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
}

div div form input[type="submit"]:hover{
    background-color: rgb(5, 189, 251);
    color: crimson;
    
}

div div form input[type="button"]{
    background-color: rgb(199, 199, 199);
    color: rgb(69, 68, 68);
    font-weight: bold;
    margin: 10px auto;
    /* margin-top: 10px; */
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    width: 50%;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
}

div div form input[type="button"]:hover{
    background-color: rgb(69, 68, 68);
    color: rgb(199, 199, 199);
}

div div.return{
    width: 50%;
    margin: 10px auto;
    text-align: center;
    font-size: 15px;
}

/* Creacion de la pagina de Gestion de Perfil */

div.container-setting{
    width: 60%;
    height: auto;
    background-color: rgba(181, 183, 183, 0.8);
    border-radius: 15px;
    margin: 30px auto;
    padding: 15px;
    box-shadow: 5px 5px 15px;
    justify-content: center;
}

div.container-setting h2{
    margin-bottom: 10px;
    text-align: center;
    color: rgb(110, 3, 24);
}

div.container-setting table{
    background-color: rgb(218, 216, 216);
    font-size: 15px;
    width: 95%;
    margin: 15px auto;
    border-color: rgb(82, 82, 82);
    border-collapse: collapse;
    text-align: center;
}
div.container-setting tr th{
    text-transform: uppercase;
}
div.container-setting table tr th,td{
    padding: 10px 0px;
    /* margin: 0px 10px; */
}
div.container-setting table tr td a{
    padding: 4px;
    /* margin: 4px; */
    border-radius: 3px;
}
div.container-setting table tr td a.update{
    color: white;
    margin: auto 5px;
    background-color: rgb(255, 132, 1);
}
div.container-setting table tr td a.delete{
    color: white;
    margin: auto 5px;
    background-color: red;
}
/* Creacion de estilo para el carrito de compras */
.car-shop{
    /* border: 1px solid #666; */
    width: 35%;
    /* height: 40px; */
    margin: 10px auto;
    /* border-radius: 10px; */
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 80px;
    transition: .3s;
}
.car-shop .header-car{
    background-color: rgba(129, 251, 251, 0.8);
    color: #000;
    width: 100%;
    /* text-align: center; */
    padding: 15px 0;
    /* border: 1px solid black; */
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    display: inline-flex;
    justify-content: space-evenly;
}

.car-shop .carrito-item{
    background: rgb(219, 219, 219);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.car-shop .carrito-item img{
    margin-right: 20px;
}
.car-shop .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 13px;
}
.car-shop .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.car-shop .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: black;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.car-shop .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.car-shop .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
}
.car-shop .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.car-shop .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.car-shop-total{
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}
.car-shop-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.car-shop-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: rgba(129, 251, 251, 0.8);
    color: #000;
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.car-shop-total .btn-pagar:hover{
    scale: 1.05;
}

/* Aquí se agrega los media query para ajustar objetos segun el tamaño de pantalla */
@media (min-width:992px) and (max-width: 1199px) {
    section div div.card{
        width: 45%;
        height: 220px;
        margin: 5px;
        padding: 10px;
        background-color: rgba(129, 251, 251, 0.8);
        border-radius: 10px;
        box-shadow: 2px 5px 8px;
        text-align: center;
        line-height: 18px;
    }
    div.container-setting{
        width: 75%;
        height: auto;
        background-color: rgba(181, 183, 183, 0.8);
        border-radius: 15px;
        margin: 30px auto;
        padding: 15px;
        box-shadow: 5px 5px 15px;
        justify-content: center;
    }

}
@media (min-width:768px) and (max-width: 991px) {
    section div div.card{
        width: 45%;
        height: 220px;
        margin: 5px;
        padding: 8px;
        background-color: rgba(129, 251, 251, 0.8);
        border-radius: 10px;
        box-shadow: 2px 5px 8px;
        text-align: center;
        line-height: 18px;
    }
    div.container-register{
        width: 50%;
        height: auto;
        background-color: rgba(181, 183, 183, 0.8);
        border-radius: 15px;
        margin: 30px auto;
        padding: 15px;
        box-shadow: 5px 5px 15px;
    }
    div.container-setting{
        width: 90%;
        height: auto;
        background-color: rgba(181, 183, 183, 0.8);
        border-radius: 15px;
        margin: 40px auto;
        padding: 8px;
        box-shadow: 5px 5px 15px;
        justify-content: center;
    }
    div.container-setting table{
        font-size: 13px;    
    }
    div.container-setting table tr td a.update{
        margin: auto 3px;  
    }
    div.container-setting table tr td a.delete{
        margin: auto 3px;
    }
}

@media (min-width:576px) and (max-width: 767px) {
    div.logo h2{
        font-size: 20px;
    }
    div.logo img{
        width: 40px;
        height: 40px;
        margin: auto 10px;
    }
    div.nav{
        /* border: 1px solid white; */
        text-decoration: none;
        display: inline-flex;
        line-height: 22.5px;
        justify-content: center;
        text-align: center;
        
    }
    div.nav ul li{
        list-style: none;
        display: block;
    }
    
    div.nav ul li a{
        list-style: none;
        padding: 1px 10px;
        font-size: 18px;
        color: rgb(95, 28, 158);
        cursor: pointer;
        border-radius: 8px;
    }
    section div div.card{
        width: 60%;
        height: 220px;
        margin: 5px;
        padding: 8px;
        background-color: rgba(129, 251, 251, 0.8);
        border-radius: 10px;
        box-shadow: 2px 5px 8px;
        text-align: center;
        line-height: 18px;
    }
    div.container-register{
        width: 60%;
        height: auto;
        background-color: rgba(181, 183, 183, 0.8);
        border-radius: 15px;
        margin: 30px auto;
        padding: 15px;
        box-shadow: 5px 5px 15px;
    }
    div.container-setting{
        width: 90%;
        height: auto;
        background-color: rgba(181, 183, 183, 0.8);
        border-radius: 15px;
        margin: 50px auto;
        padding: 4px;
        box-shadow: 5px 5px 15px;
        justify-content: center;
    }
    div.container-setting table{
        font-size: 10px;    
    }
    div.container-setting table tr td a.update{
        margin: auto 2px;  
    }
    div.container-setting table tr td a.delete{
        margin: auto 2px;
    }
}

@media (max-width: 575px) {
    div.logo h2{
        font-size: 18px;
    }
    div.logo img{
        width: 40px;
        height: 40px;
        margin: auto 5px;
    }
    div.nav{
        /* border: 1px solid white; */
        text-decoration: none;
        display: inline-flex;
        line-height: 22.5px;
        justify-content:center;
        text-align: center;
        
    }
    div.nav ul li{
        list-style: none;
        display: block;
    }
    
    div.nav ul li a{
        list-style: none;
        padding: 1px 10px;
        font-size: 18px;
        color: rgb(95, 28, 158);
        cursor: pointer;
        border-radius: 8px;
    }
    section div div.card{
        width: 75%;
        height: 220px;
        margin: 5px;
        padding: 8px;
        background-color: rgba(129, 251, 251, 0.8);
        border-radius: 10px;
        box-shadow: 2px 5px 8px;
        text-align: center;
        line-height: 18px;
    }
    div.container-register{
        width: 80%;
        height: auto;
        background-color: rgba(181, 183, 183, 0.8);
        border-radius: 15px;
        margin: 30px auto;
        padding: 15px;
        box-shadow: 5px 5px 15px;
    }
    div.container-setting{
        width: 95%;
        height: auto;
        background-color: rgba(181, 183, 183, 0.8);
        border-radius: 15px;
        margin: 60px auto;
        padding: 2px;
        box-shadow: 5px 5px 15px;
        justify-content: center;
    }
    div.container-setting table{
        font-size: 8px;    
    }
    div.container-setting table tr td a.update{
        margin: auto 2px;  
    }
    div.container-setting table tr td a.delete{
        margin: auto 2px;
    }
}
